apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

resources:
- service.yaml

patches:
  - patch: |-
      - op: add
        path: /spec/template/spec/containers/0/args/-
        value: --metrics-bind-address=:8080
      - op: add
        path: /spec/template/spec/containers/0/args/-
        value: --metrics-secure=false

      - op: add
        path: /spec/template/spec/containers/0/ports/-
        value:
          containerPort: 8080
          protocol: TCP
          name: metrics-server
    target:
      kind: Deployment
# Uncomment this section to enable prometheus service discovery annotations.
#    patch: |-
#      - op: add
#        path: /spec/template/metadata/annotations/prometheus.io~1scrape
#        value: "true"
#      - op: add
#        path: /spec/template/metadata/annotations/prometheus.io~1path
#        value: /metrics
#      - op: add
#        path: /spec/template/metadata/annotations/prometheus.io~1port
#        value: "8080"
#    target:
#      kind: Deployment