name: Operator CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'
          
      - name: Go Tidy
        run: go mod tidy && git diff --exit-code

      - name: Check controller-gen generated
        run: make generate && git diff --exit-code

      - name: Check manifests generated
        run: make manifests && git diff --exit-code

      - name: Lint with golangci-lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: v2.1

  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Go Mod
        run: go mod download

      - name: Go Mod Verify
        run: go mod verify

      - name: Build
        run: go build -v cmd/main.go

      - name: Run tests
        run: |
          go list ./... | grep -v /e2e
          make test-ci

  e2e-test:
    strategy:
      matrix:
        scope: [ test-keeper-e2e, test-clickhouse-e2e ]
    runs-on: [self-hosted, func-tester]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Go Mod
        run: go mod download

      - name: Build image
        run: make docker-build IMG="clickhouse.com/clickhouse-operator:v0.0.1"

      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1
        with:
          cluster_name: kind
          config: ci/kind-cluster.config

      - name: Run e2e tests
        run: |
          make ${{ matrix.scope }}
